<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="navbar">
        <div class="logo">
            <div id="logo-circle">
                <img id='icon' src="{{ url_for('static', filename='assets/icon.png') }}" alt="icon">
            </div>
            <label>AvianEYE</label>
        </div>
        <div class="nav-list" style="--c:black;--w:80px;--b:18px">
            <a href="#video">Video</a>
            <a href="#analysis">Analysis</a>
            <a href="#about">About</a>
        </div>
    </div>
    <div id="video-div">
        <div class="left">
            <img src="{{ url_for('static', filename='assets/sample 1.png') }}" alt="sample">
            <div class="video-shadow"></div>
            <button class="video-btn" id="close-bbox">Close BBox</button>
        </div>
        <div class="right">
            <div class="top">
                <div class="sec-center">
                    <input class="dropdown" type="checkbox" id="dropdown1" name="dropdown" disabled/>
                    <label class="for-dropdown" for="dropdown1">Dropdown Menu <i class="uil uil-arrow-down"></i></label>
                    <div class="section-dropdown">
                        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                    </div>
                </div>
                <div class="video-shadow"></div>
                <img src="{{ url_for('static', filename='assets/sample 1.png') }}" alt="sample">
            </div>
            <div class="bottom">
                <div class="sec-center">
                    <input class="dropdown" type="checkbox" id="dropdown2" name="dropdown" disabled/>
                    <label class="for-dropdown" for="dropdown2">Dropdown Menu <i class="uil uil-arrow-down"></i></label>
                    <div class="section-dropdown">
                        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                    </div>
                </div>
                <div class="video-shadow"></div>
                <img src="{{ url_for('static', filename='assets/sample 1.png') }}" alt="sample">
            </div>
        </div>
    </div>
    <div id="analysis-div">
        <div class="hex-dropdown">
            <div class="hex">
                <span class="outer"></span>
                <span class="outline"></span>
                <span class="inner"></span>
            </div>
            <div class="sec-center">
                <input class="dropdown" type="checkbox" id="dropdown3" name="dropdown" disabled/>
                <label class="for-dropdown" for="dropdown3">Select Chicken<i class="uil uil-arrow-down"></i></label>
                <div class="section-dropdown">
                    <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                    <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                    <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                </div>
            </div>
            <div class="sec-center" id ="sec-center4">
                <input class="dropdown" type="checkbox" id="dropdown4" name="dropdown" disabled/>
                <label class="for-dropdown" for="dropdown4">How long ago<i class="uil uil-arrow-down"></i></label>
                <div class="section-dropdown" id="section-dropdown4">
                    <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                    <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                    <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="graph">
            <img src="{{ url_for('static', filename='assets/graph.png') }}" alt="sample">
        </div>
    </div>
    <div id="footer">
    </div>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>