<!DOCTYPE html>
<html>
    <head>
        <title>Video Streaming</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="triangle" id="triangle-1"></div>
        <div class="triangle" id="triangle-2"></div>
        <div class="triangle" id="triangle-3"></div>
        <div id="trapezoid"></div>
        <div id="top-div">
            <div id="logo">
                <img src="{{ url_for('static', filename='assets/web/logo.png') }}" alt="logo">
                <label>AvianEye</label>
            </div>
            <div id="selection-div">
                <div id="slider-checkbox">
                    <!-- Rounded switch -->
                    <label>View all chicken</label>
                    <label class="switch">
                        <input type="checkbox" id="view-all-chicken" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div id="drop-down">
                    <label for="chicken-id">Select Chicken ID:</label>
                    <select id="chicken-id">
                        <script>
                            var numOfChicken = {{ numOfChicken }}; // Embed the Python variable value directly
                            for (var i = 1; i <= numOfChicken; i++) {
                                document.write('<option value="' + i + '">' + i + '</option>');
                            }
                        </script>
                    </select>
                </div>
            </div>
        </div>
        <div id="cont-div">
            <img src="/video" id="video-stream" alt="Video Stream" width="500">
            <div id="graph-div">
                <img src="{{ url_for('static', filename='assets/web/chicken_bg.png') }}" alt="chicken" id="chicken-bg">
                <img src="/graph" id="plot-image" alt="Plot Image" width="500">
            </div>
        </div>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>
